- content_for(:title, "Drug List")
.jumbotron
  %h1 Drug List
  = link_to "Add a New Drug", new_drug_path, :class =>"btn btn-default btn-lg"

.body_fixed.col-xs-9.clearfix.container-fluid
  - @drugs.each do |drug|
    .drug_tag= link_to "#{drug.name}", drug_path(drug)
