- content_for(:title, "Drug List")
.jumbotron
  %h1 Drug List
  %p Create a library of drugs to use in your prescriptions.
  = link_to "Add a New Drug", new_drug_path, :class =>"btn btn-default btn-lg"

.row
  - @drugs.each do |drug|
    .col-xs-12.col-sm-4.col-lg-3
      %div.panel.panel-default
        .panel-heading
          %h3 
            =image_tag('capsule.png',class:"index-images")
            = drug.name
        .panel-body
          %p= drug.description
          = link_to "More Info", drug_path(drug), class: "btn btn-default btn-float"