<% content_for(:title, "New | Drugs" ) %>

<div>
  <h4><%= @drug.name %></h4>
  <p><%= @drug.description %></p>
</div>

<div>
  <p><%= link_to "Delete this drug", drug_path(@drug), :data => {:confirm => "You sure?", :method => "delete"} %></p>
</div>
<%= link_to "Back", drugs_path %>
