- content_for(:title, "Current Prescriptions" )
.jumbotron
  %h1 Current Prescriptions
  %p View and create your prescriptions for the drugs from your drug list.
  = link_to "Add a New Prescription", new_prescription_path, :class =>"btn btn-default btn-lg"

%div.col-xs-12
  - @prescriptions.each do |prescription|
    - drug = Drug.find(prescription.drug_id)
    .col-md-3
      .panel.panel-default
        .panel-heading
          %h4
            %i.fa.fa-fw.fa-check
            = prescription.drug.name
        .panel-body
          %p= prescription.drug.description
          = link_to "View Prescription", prescription_path(prescription), class: "btn btn-default btn-float"


