- content_for(:title, "Prescription Manager" )
.head-row
  .jumbotron
    %h1 Welcome to Prescription Manager
    %div.welcome-create
      %p Create a personalized account now to start managing your medicare prescriptions and your total drug costs to avoid the "donut hole" as long as possible. This application allows you to create your doctors, drugs, pharmacies, and prescriptions. Then you can manage and watch your costs.
      %p If you want to try it out before creating your own account: 
      %p= link_to "Log In with the guest account ", new_user_session_path, id: "login-prof",class: "guest-style"
