/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);
@import "sass_vars.scss";

/*------------------------------------
 Responsive media 
 -----------------------------------*/
@media screen and (max-width: 480px) {
  .index-images {
    display: none;
  }
  .panel-heading {
    h3 {
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width:810px){
  .navbar-nav {
    padding: .6em .4em 0 0;
    font-size: .9em !important;
  } 
}



/* Push the top down from navbar */
.yield-top {
  margin-top: 2.5em;
}

/*-------------------
 Styling for Navbar 
 ------------------*/
.navbar {
  background-color: $st_tropaz;
  min-height: 50px;
  margin-bottom: 0px;
}
.navbar-collapse {
  min-height: 50px;
}

.navbar-nav {
  padding: .6em .5em 0 0;
  font-size: 1.1em;
} 

.navbar-default {
  .navbar-nav {
    padding-top: 2px;
    li a {
      color: $golden_tainoi;
      &:hover {
      color: white;
      }
    }
  }
}

.dropdown-toggle {
  background-color: $st_tropaz !important;
  color: $golden_tainoi !important;
}

.dropdown-menu {
  background-color: $st_tropaz;
  li a {
    color: $st_tropaz;
  }
}


.navbar-brand {
  font-family: 'Raleway', sans-serif;
  padding: .6em 0 0 .6em;
  a {
    color: $golden_tainoi;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.3em;
    text-decoration: none;
    img {
      opacity: .9;
      max-width: 1.5em;
      &:hover {
        opacity: 1;
      }
    }
    &:hover {
      color: white;
      text-shadow: 1px 1px 1px #000;
    } 
  }
}

.jumbotron {
  padding: 1em;
  background-color: $carrara;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;
  h1 {
    color: $st_tropaz;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 1px 0 #000;
    margin-bottom: 20px;
  }
  p {
    color: $st_tropaz;
  }
  div {
    display: block;
    text-align: center;
  }
}

/*----------------------------
Button Stying
----------------------------*/
.btn-default {
  color: $st_tropaz;
  background-color: white;
  &:hover {
    color: white;
    background-color: $st_tropaz;
  }
}

.btn-float {
  color: $st_tropaz;
  float: left;
  margin: 5px 5px;
  /*background-color: $carrara;*/
}

.btn-nofloat {
  color: $st_tropaz;
  margin: 5px 5px;
/*  background-color: $carrara;*/
}

.btn-lg {
  background-color: $golden_tainoi;
}

/* devise Registration buttons */
.button-format {
  margin: 15px 5px 15px 5px;
}

.border-form-div {
  max-width: 540px;
  padding: .4em .6em;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid $mercury;
  @include rounded-corners(.4em);
  @include shadowed-corners(rgba(0,0,0,.10));
  h2 {
    color: $st_tropaz;
    margin: .5em;
  }
  a {
    color: $st_tropaz;
    // margin: 3px;
  }
}

/*------ error box ------*/
.error_explanation {
  border: 1px solid $mercury;
  margin: 0 0 1em 0;
  padding: 0 .5em;
  @include rounded-corners(.4em);
  h4 {
    color: $st_tropaz;
  }
}

/*------------------------------- 
Drug and Prescription index pages
-------------------------------*/
.panel-default {
  .panel-heading {
    height: 100%;
    background-color: $st_tropaz;
    color: $golden_tainoi;
    padding: .4em;
    h3 {
      margin: .5em 0;
    }
  }
}

.panel-body {
  height: 100%;
  background-color: $carrara;
}


.pan-head {
  background-color: $golden_tainoi !important;
  color: $st_tropaz !important;
}

.panel-bod {
  background-color: white !important;
  p a {
    color: $st_tropaz !important;
  }
}


.index-images {
  width: 1.1em;
}

/* Tables for Prescriptions and Drugs */

th {
  background-color: $st_tropaz;
  color: $golden_tainoi;
}

.col-pads {
  padding: 0px .5em;
}

.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-footer {  
  overflow: auto;
  width: 100%;
  background-color: $st_tropaz;
  padding: 15px 0px;
  text-align: center;
  a {
    color: $golden_tainoi;
  }
}


