@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:700|Titillium+Web);

body {
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
  color: #2a6496
}

.navbar {
  background-color: #b9d3ee;
  height: 70px;
}

.nav-format {
  float: left;
  padding-right: 30px;
  padding-top: 20px;
  font-size: 1.1em;
}

.navbar-brand {
  color: #2a6496;
}

.btn-float {
  float: left;
  margin-right: 10px;
  background-color: #b9d3ee;
}

.drug_form {
  float: left;
}

.image_box {
  border-radius: 2em;
}
.aside_box {
  background-color: #b9d3ee;
  padding: 10px;
  text-align: center;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  margin-bottom: 3px;
}
.aside_box2 {
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  border: 2px solid #e7e7e7;
}
.aside_box h4 {
  color: black;
}
.aside_box p {
  color: red;
  font-style: bold;
  font-size: 1.3em;
}
.coming-soon {
  color: red;
  font-style: bold;
  font-size: 1.3em;
}
.drug_tag {
  padding: 5px;
  float: left;
  margin: 2px;
  background: white;
  border-radius: 3px;
  margin-left: 5px;
  border:1px solid #6699FF;
}
.drug_tag:hover, .drug_tag a:hover {
  background: #6699ff;
  color: #eee;
  text-decoration: none;
}
.body_fixed {
  max-width: 100%
}

.footer_css {
  padding-top: 5em;
}
.login_form {
  margin-left: 15px;
  margin-bottom: 15px;
}
.button-format {
  margin: 15px 5px 15px 5px;
}

.border-form-div {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

input#user_remember_me {
  margin-right: 5px;
}

input#user_email, input#user_password, input#user_password_confirmation, input#user_name {
  margin-bottom: 15px;
/*   font-size: 16px;
  height: auto; 
  padding: 7px 9px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;   */
}

a.heading_text {
  color: #000;
  font-size: 1.3em;
  text-decoration: none;
  img {
  max-width: 1.5em;
  }
  &:hover {
    color: #337ab7;
    text-shadow: 1px 1px 1px #000;
  } 
}

