/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

/*--------------------
SASS Color Variables
--------------------*/
$boot_blue: #428bca;
$carrara: #f4f3f1;
$st_tropaz: #2a6496;
$mercury: #e5e5e5;
$golden_tainoi: #fec95c;

/*--------------------
SASS MIXINS
--------------------*/
@mixin rounded-corners($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin shadowed-corners($color) {
  -webkit-box-shadow: 3px 3px 3px $color;
     -moz-box-shadow: 3px 3px 3px $color;
          box-shadow: 3px 3px 3px $color;
}
@mixin list-bullets($content) {
  margin: 1em;
  // margin-left: 1em;
  &:before {
  content: $content;
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: $button-sec;
  }
}

/*------------------------------------
 Responsive media 
 -----------------------------------*/
@media screen and (max-width: 480px) {
  .index-images {
    display: none;
  }
  .panel-heading {
    h3 {
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width:810px){
  .navbar-nav {
    padding: .6em .4em 0 0;
    font-size: .9em !important;
  } 
}



/* Push the top down from navbar */
.yield-top {
  margin-top: 2.5em;
}

/*-------------------
 Styling for Navbar 
 ------------------*/
.navbar {
  background-color: $st_tropaz;
  min-height: 50px;
  margin-bottom: 0px;
}
.navbar-collapse {
  min-height: 50px;
}

.navbar-nav {
  padding: .6em .5em 0 0;
  font-size: 1.1em;
} 

.navbar-default {
  .navbar-nav li a {
    color: $golden_tainoi;
    &:hover {
    color: white;
    }
  }
  .dropdown-menu li a {
    color: $st_tropaz;
  }
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  padding: .6em 0 0 .6em;
  a {
    color: $golden_tainoi;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.3em;
    text-decoration: none;
    img {
      opacity: .9;
      max-width: 1.5em;
      &:hover {
        opacity: 1;
      }
    }
    &:hover {
      color: white;
      text-shadow: 1px 1px 1px #000;
    } 
  }
}

.jumbotron {
  padding: 1em;
  background-color: $carrara;
  display: block;
  text-align: center;
  margin-bottom: 10px; 
  h1 {
    color: $st_tropaz;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 1px 0 #000;
    margin-bottom: 20px;
  }
  p {
    color: $st_tropaz;
  }
}

/*----------------------------
Button Stying
----------------------------*/
.btn-default {
  color: $st_tropaz;
  background-color: white;
  &:hover {
    color: white;
    background-color: $st_tropaz;
  }
}

.btn-float {
  color: $st_tropaz;
  float: left;
  margin-right: 10px;
  background-color: $carrara;
}

.btn-lg {
  background-color: $golden_tainoi;
}


/* Welcome page images */
.image_box {
  border-radius: 2em;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

/*-------------------------
Sidebar
-------------------------*/
.aside_box {
  background-color: #b9d3ee;
  padding: 10px;
  text-align: center;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  margin-bottom: 3px;
}
.aside_box2 {
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  border: 2px solid #e7e7e7;
}
.aside_box h4 {
  color: black;
}
.aside_box p {
  color: red;
  font-style: bold;
  font-size: 1.3em;
}
.coming-soon {
  color: red;
  font-style: bold;
  font-size: 1.3em;
}

/* devise Registration buttons */
.button-format {
  margin: 15px 5px 15px 5px;
}

.border-form-div {
  max-width: 540px;
  padding: .4em .6em;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid $mercury;
  @include rounded-corners(.4em);
  @include shadowed-corners(rgba(0,0,0,.10));
  h2 {
    color: $st_tropaz;
    margin: .5em;
  }
  a {
    color: $st_tropaz;
    // margin: 3px;
  }
}

/*------ error box ------*/
.error_explanation {
  border: 1px solid $mercury;
  margin: 0 0 1em 0;
  padding: 0 .5em;
  @include rounded-corners(.4em);
  h4 {
    color: $st_tropaz;
  }
}

/*------------------------------- 
Drug and Prescription index pages
-------------------------------*/
.panel-heading {
  padding: .4em;
  h3 {
    margin: .5em 0;
  }
}

.index-images {
  width: 1.1em;
}





