@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 1em;
}

#error_box {
  display: none;
  background: lightblue;
  padding: 20px;
  color: blue;
}
h2 {
  color: #428bca;
}

#page_header img {
  height: 150px;
  float: right;
  border: 2px solid #999;

}
