@import "sass_vars.scss";

.add-pharm {
  display: none;
}

#add-address {
  display: none;
}

#add-pharm-address {
  margin-bottom: 10px;
}

.view-pharm {
  margin: .75em 0 1.5em;
  padding: 0 .5em;
}