@import "sass_vars.css.scss";

.view-pres {
  padding: 3px;
  display: block;
  margin: 10px 0px;
  table {
    margin: 5px 0;
  }
  h2 {
    color: $st_tropaz;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  .row {
    margin: 0px !important;
  }
}

.view-fill {
  display: block;
  height: 300px;
  background-color: $st_tropaz;
  padding: 0px 5px;
  h2 {
    color: $golden_tainoi;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  a {
    color: $golden_tainoi;
    font-size: 1.1em;
  }
}

.presc-image {
  width: 1.5em;
  color: $golden_tainoi;
}