@import "sass_vars.scss";

.view-pres {
  padding: 3px;
  display: block;
  margin: .75em 0px 1.5em;
  table {
    margin: 5px 0;
  }
  h2 {
    color: $st_tropaz;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  .row {
    margin: 0px !important;
  }
}

.view-fill {
  display: block;
  overflow: auto;
  height: 100%;
  background-color: $st_tropaz;
  padding: 0px 5px;
  h2 {
    color: $golden_tainoi;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  a {
    color: $st_tropaz;
    font-size: 1.1em;
  }
}

.presc-image {
  width: 1.5em;
  color: $golden_tainoi;
}

.fa-plus-circle {
  vertical-align: middle;
}

.add-new-drug {
  display:none;
}