@import "sass_vars.css.scss";

.row-one, .row-three {
  display: block;
  text-align: center;
  background-color:white;
}

.row-two, .row-four {
  display: block;
  text-align: center;
  background-color:$carrara;
}

.guest-style {
  color: $golden_tainoi;
  text-shadow: 0 .5px 0 $st_tropaz;
  &:hover {
    text-decoration: none;
    color: $st_tropaz;
    text-shadow: 0 .5px 0 black;
  }
}