@import "sass_vars.css.scss";

.guest-style {
  color: $golden_tainoi;
  text-shadow: 0 .5px 0 $st_tropaz;
  &:hover {
    text-decoration: none;
    color: $st_tropaz;
  }
}

.welcome-create {
  display: block;
  text-align: center;
  padding: 0 5.5em;
  margin: 0 0 .5em;
}

.welcome-sections {
  display:block;
  text-align: center;
  margin: 0 auto;
  padding: 40px 60px;
  h1, p {
    color: $st_tropaz;
  }
}
.col-sm-6 {
  padding:0px !important;
}


.welcome-rows {
  padding: 0px 5%
}

.img-box {
  border: 3px double $mercury;
  border-radius: .6em;
  max-width: 100%;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

