- if object.errors.any?
  .error_explanation
    %h4
    = pluralize(object.errors.count, "error") 
    prohibited this activity from being saved:
    %ul
    - object.errors.full_messages.each do |msg|
      %li= msg
    