.navbar-header
  %button.navbar-toggle{"data-toggle"=>"collapse","data-target"=>".navbar-collapse"}
    %i.fa.fa-chevron-down
  .navbar-brand
    = link_to root_path, :class=>"heading_text" do
      = image_tag("favicon.ico")
      Prescription Manager