.navbar-header
  %button.navbar-toggle{"data-toggle"=>"collapse","data-target"=>".navbar-collapse"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  .navbar-brand
    = link_to root_path, :class=>"heading_text" do
      = image_tag("favicon.ico")
      Prescription Manager