%div.main-footer.clear
  .col-xs-12.col-sm-6
    = link_to "<i id='nav-bot-icon' class='fa fa-envelope fa-fw fa-2x'></i> Suggestions/Questions/Problems?".html_safe, root_path, title: "Submit Feedback or a Question"
  .col-xs-12.col-sm-6.hidden-xs
    %p Ruby on Rails application &copy; 2015 
    = link_to "Visible Difference Web Development", "http://www.visible-difference.com", target: "_blank", title: "Visit www.visible-difference.com"
